<div id="calendar-wrapper" class="calendar-wrapper">
    <div class="calendar-navbar">
        <div class="controls">
            <select name="select" class="month-selector selector" id="month" (change)="changeCalSelectors()">
                <option *ngFor="let month of monthSelectorOptions" value="{{month.num}}" [selected]="month.num === currentMonth">{{month.name}}</option>
            </select>
            <select name="select" class="year-selector selector" id="year" (change)="changeCalSelectors()">
                <option *ngFor="let year of yearSelectorOptions" value="{{year}}" [selected]="year === currentYear">{{year}}</option>
            </select>

            <div class="calendar-controls">
                <button class="prev btn" (click)="prevClick()">
                    <span class="material-icons">keyboard_arrow_left</span>
                </button>
                <button id="todays-day" class="current btn" (click)="currentClick()">
                    <span>{{currentDay}}</span>
                </button>
                <button class="next btn" (click)="nextClick()">
                    <span class="material-icons">keyboard_arrow_right</span>
                </button>
            </div>
        </div>
        <div class="weekday-initials">
            <div class="day-of-week-label" *ngFor="let weekday of weekDayAbbrv"
                [ngClass]="{'show-current-weekday': currentDayofWeek === weekday.num}">{{weekday.name}}</div>
        </div>
    </div>

    <div class="calendar-container" #calendar>
        <ng-container *ngFor="let day of month">
            <div class="day-box" (click)="selectDay($event)"
            [ngClass]="{
                'disabled': selectedMonth != day.month,
                'current-day': currentDay == day.day && currentMonthCheck == day.month && currentYearCheck == day.year,
                'first-day-box': firstDay == day.day && selectedMonth == day.month,
                'last-day-box': lastDay == day.day && selectedMonth == day.month,
                'prev-month-days': prevMonth == day.month,
                'next-month-days': nextMonth == day.month,
                'selected-day': currentDay == day.day && currentMonthCheck == day.month || firstDay == day.day && currentMonthCheck != selectedMonth && selectedMonth == day.month
            }">
                <span class="number">{{day.day}}</span>
                <p class="balance beg">Beg Bal</p>

                <div class="transactions" [attr.date]="day.date">
                    <ng-container *ngFor="let event of getAllEvents">
                        <div class="event" *ngIf="day.date === event.eventstart_date" [attr.startDate]="event.eventstart_date"  [attr.endDate]="event.eventend_date" [attr.frequency]="event.eventfrequency">
                            <p class="event-details title">
                                {{event.eventtitle}}
                            </p>
                            <p class="event-details description">
                                {{event.eventdesc}}
                            </p>
                            <p class="event-details location">
                                {{event.eventlocation}}
                            </p>

                            <p class="event-details frequency">
                                {{event.eventfrequency}}
                            </p>

                            <p class="event-details time">
                                <span>{{event.eventstart_time}}</span> - <span>{{event.eventend_time}}</span>
                            </p>

                            <p class="event-details end">
                                {{event.eventend_date}}
                            </p>
                            <button class="delete-event hidden" (click)="deleteEvent($event)"
                            value="{{event.eventid}}">Delete</button>

                            <p class="event-details item-type">
                                {{event.itemtype}}
                            </p>
                        </div>
                    </ng-container>
                </div>

                <p class="balance end">End Bal</p>
            </div>
        </ng-container>

        <div class="opened-background" (click)="closeDay()"></div>
    </div>

</div> 