@import '..//..//variables';

.calendar-wrapper {
    width: 100%;
    height: 100%;

    .calendar-navbar {
        position: fixed;
        width: 100%;
        background: red;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &.mac {
            top: 57px;
        }

        .controls {
            
            width: 100%;
            padding: 5px 0;
            display: flex;
            align-items: center;

            .selector {
                display: inline;
                margin-left: 10px;
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 25px;
                transition: all .2s ease-in-out;
                color: $textwht;
                font-family: $globalFont !important;

                &:focus {
                    color: $textdrk;
                }
            }

            .calendar-controls {

                display: flex;
                justify-content: flex-end;
                width: 100%;

                .btn {
                    color: $textwht;
                    background: transparent;
                    border-radius: 5px;
                    margin: 0 15px;
                    border: 0;
                    position: relative;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    outline: 0;
                    cursor: pointer;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 10px;
                        @media screen and (min-width: $end-small) {
                            margin-right: 0;
                        }
                    }

                    &:active {
                        color: $textdrk;
                    }

                    span {
                        font-size: 30px !important;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -42%);
                    }

                    &.current {
                        span {
                            padding: 2px;
                            border: 3px solid white;
                            border-radius: 5px;
                            font-size: 18px !important;
                        }
                    }


                    &:before {
                        font-size: 30px;
                    }

                    &.entypo-calendar {
                        &:before {
                            font-weight: 100;
                        }
                    }
                }

            }

        }

        .weekday-initials {

            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .day-of-week-label {

                // flex: 0 0 14.285714285714286%;
                width: 14.285714285714286%;
                max-width: 14.285714285714286%;
                text-align: center;
                position: relative;
                background: $primary;
                padding: 4px 0;
                color: $textdrk;
                opacity: .5;
                font-size: 14px;

                @media screen and (max-width: $end-small) {
                    font-size: 16px;
                }

                &.show-current-weekday {
                    color: $textwht;
                    opacity: 1;
                    border-radius: 5px;
                    font-weight: bold;
                }

            }


        }


    }


    .calendar-container {

        width: 100%;
        height: calc(100% - 75px);
        position: relative;
        top: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @media screen and (min-width: $end-small) {
            top: 72px;
            height: calc(100% - 125px);
        }

        .day-box {
            display: inline-block;
            color: #fff;
            width: calc(14.2857142857% - 2px);
            height: calc(15.7% - 2px);
            border: 1px solid transparent;

            @media screen and (min-height: 400px) {
                height: calc(15% - 2px);
            }

            @media screen and (min-height: 500px) {
                height: calc(15.3% - 2px);
            }

            @media screen and (min-height: 600px) {
                height: calc(15.5% - 2px);
            }

            @media screen and (min-height: 700px) {
                height: calc(15.65% - 2px); 
            }

            @media screen and (min-height: $end-small) {
                height: calc(15.8% - 2px);
            }

            @media screen and (min-height: $end-small) {
                height: calc(15.9% - 2px);
            }

            @media screen and (min-height: 1000px) {
                height: calc(16% - 2px);
            }

            @media screen and (min-height: 1100px) {
                height: calc(16.1% - 2px);
            }

            @media screen and (min-height: 1200px) {
                height: calc(16.2% - 2px);
            }

            @media screen and (min-height: 1300px) {
                height: calc(16.3% - 2px);
            }

            @media screen and (min-height: 1400px) {
                height: calc(16.4% - 2px);
            }

            &.disabled {
                opacity: .3;
                pointer-events: none;
            }

            &.current-day {

                .number {
                    color: red;
                    font-weight: 700;
                }
            }

            &.selected-day {
                border: 1px solid #fff;
                border-radius: 5px;
            }

            &.day-opened {
                position: absolute;
                height: 80%;
                width: 80%;
                z-index: 99;
                background: $background;
                max-width: 800px;
            }
        }

        .opened-background {
            display: none;
            background: rgba(0,0,0,.5);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
        }

        .number {
            display: block;
            margin: auto;
            text-align: center;
            font-size: 10px;
        }
    }

    .add-item-button {
        padding: 15px;
        position: fixed;
        bottom: 60.9px;
        font-size: 20px;
        border-radius: 100%;
        border: none;
        background-color: $alert;
        color: $textwht;
        right: 20px;
        z-index: 999;
        transition: all .3s ease-in-out;
        // box-shadow: 1px 1px 10px #333333;

        &:hover {
            &:before {
                @media screen and (min-width: $mid-small) {
                    color: #333333;
                    opacity: .4;
                    transition: all .2s ease-in-out;
                }
            }
        }

        @media screen and (min-width: $end-small) {
            right: 50%;
            transform: translateX(50%);
        }
    }


    .add-item-container {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 0;
        width: 0;
        transition: all .3s ease-in-out;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, .2);
            border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: rgba(126, 93, 93, 0.7); 
        }

        @media screen and (min-width: $end-small) {
            right: 50% !important;
            width: auto;
            transform: translateX(50%);
        }

        &.show-form {
            height: 100%;
            width: 100%;
            z-index: 9999;
            background: $textwht;
            transition: all .3s ease-in-out;
            right: 0;

            @media screen and (min-width: $end-small) {
                bottom: 50%;
                right: 50%;
                transform: translate(50%, 50%);
                height: 50%;
                width: 100%;
                max-width: 800px;
                border: 1px solid #333333;
                border-radius: 5px;
            }
        }

        .form-nav-bar {
            position: sticky;
            top: 0;
            margin: 0 4%;
            background: $textwht;
            h2 {
                padding: 15px 0;
                margin: 0;
            }

            .close-form {
                position: absolute;
                display: inline;
                top: 13px;
                right: 0;
                background: transparent;
                border-radius: 5px;
                border: 0;
                cursor: pointer;

                &:before {
                    font-size: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .input-wrapper {
            margin: 0 4%;
        }

        label {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            font-weight: bold;
            font-size: 15px;
        }

        select, .date-input input, .date-input-end input, .time-input-end input, .item-title input , .event-description textarea, .amount-input input, .location-input input, .time-input input {
            width: 100%;
            padding: 10px 0;
            border: 0;
            border-bottom: 1px solid #c4c7cc;
            margin: 10px 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 15px;
            transition: all .3s ease-in-out;
            background: transparent;
            color: $textdrk;

            &:focus, &:active {
                border: 0;
                border-bottom: 1px solid $primary;
                outline: 0;
                transition: all .3s ease-in-out;
                font-size: 16px;
            }
            &:-internal-autofill-selected {
                box-shadow: inset 0 0 0 100px transparent;
            }
        }

        textarea {
            height: 75px;
        }

        button.submit-form {
            background-color: $alert;
            color: $textwht;
            border-radius: 10px;
            padding: 10px;
            border: 0;
            font-size: 15px;
            float: right;
            margin: 20px 0;
        }
    }





}