@import '..//..//variables';

.signup-form {
  height: 100%; 
  position: relative;

  @media screen and (min-width: $end-small) {
    height: calc(100% - 54px); 
  }  

    .form-nav {
        padding: 15px 0 15px 0px;
        background: $background;
        color: #fff;
        text-align: center;
        position: sticky;
        top: 0;

        h2 {
            margin: 0;
            font-size: 25px;
            font-weight: 100;
        }
    }

    form {
      padding: 20px;
      position: absolute;
      width: calc(100% - 40px);
      height: calc(100% - 104px);
      
      @media screen and (min-width: $end-small) {
        max-width: 400px;
        margin: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-height: 300px;
        height: auto;
        border: 1px solid white;
        border-radius: 5px;
      }

        img {
          display: block;
          margin: auto;
          max-width: 65px;
        }

        .input-wrapper {
          width: 100%;
          margin: 10px 0;
        }

        label {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        font-weight: bold;
        font-size: 15px;
        color: $textdrk;
      }

      input {
          width: 100%;
          padding: 10px 0;
          border: 0;
          border-bottom: 1px solid #252525;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-size: 15px;
          transition: all .3s ease-in-out;
          background: transparent;
          color: $textdrk;

          &:focus, &:active {
              border: 0;
              border-bottom: 1px solid $primary;
              outline: 0;
              transition: all .3s ease-in-out;
              font-size: 16px;
          }
          &:-internal-autofill-selected {
            box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 1);
          }
      }

      .submit-buttons {
        position: absolute;
        flex-direction: row-reverse;
        display: flex;
        justify-content: center;
        bottom: 0;
        left: 0;
        background: $background;
        width: 100%;
        margin: 0;

        @media screen and (min-width: $end-small) {
          position: initial;
        }

          .signup {
              background-color: $background;
              color: $textwht;
              padding: 20px 0;
              border: 0;
              font-size: 20px;
              width: 100%;

              &:disabled {
                opacity: .3 !important;
                color: $textwht !important;
                background-color: $background !important;
                transition: all .3s ease;
              }

              &:hover, &:focus {
                  background-color: $primary-contrast;
                  color: $background;
                  opacity: 1;
                  transition: all .3s ease;
              }
          }
      }
    }

    .success-message, .fail-message {
      padding: 40px;
      background: $background;
      color: $textdrk;
      border: 1px solid $textdrk;
      border-radius: 5px;
      z-index: 99999;
      position: fixed;
      top: 200%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      transition: all .3s ease-in-out;
    }
    .show-success, .show-fail {
      top: 50%;
      animation-duration: .3s;
      animation-timing-function: ease-in-out;
      animation-name: rise;
      transition: all .3s ease-in-out;

      .close-popup {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 27px;
        cursor: pointer;
      }
    }
}

.loading-container {
  position: fixed;
  top: 74px;
  left: 0;
  right: 0;
  bottom: 53.6px;
  background: rgba(0,0,0,.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  flex-direction: column-reverse;
  transition: all .3s ease-in-out;

  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @media screen and (min-width: $end-small) {
    top: calc(64px + 54px);
    bottom: 54px;
  }

    div.loading-text {
        color: $textdrk;
        font-size: 20px;

        span {
            margin: 0 3px;
            display: inline-block;
            animation-duration: .7s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-name: bouncy;

            &:nth-child(2) {
                animation-delay: .2s
            }

            &:last-child {
                animation-delay: .3s;
            }
        }

        @keyframes bouncy { 
            0% {transform: translateY(0);}
            50% {transform: translateY(-5px);}
            100% {transform: translateY(0);}
        } 
    }

  img {
    width: 100%;
  }
}