@import '..//..//variables';

.profile-container {
    color: $textdrk;
    height: calc(100% - 3px);

    @media screen and (min-width: $end-small) {
      height: calc(100% - 51px);
    }

    .profile-nav {
        padding: 15px 0 15px 0px;
        background: red;
        color: #fff;
        text-align: center;
        position: sticky;
        top: 0;

        h2 {
            margin: 0;
            font-size: 25px;
            font-weight: 100;
        }

        .settings {
            text-decoration: none;
            position: absolute;
            right: 5%;
            top: 29%;
            color: #fff;

            span {
              animation: spin 10s linear infinite;
            }

            @media screen and (min-width: $end-small) {
                right: 6%;
            }

            @media screen and (min-width: 1000px) {
              right: 5.5%;
            }

            &:active {
                color: $textdrk;
            }

            @keyframes spin {
              0% {
                  transform: rotateZ(0);
              }
              100% {
                  transform: rotateZ(360deg);
              }
          }
        }
    }

    .profile-info {
        text-align: center;
        color: $textdrk;
        height: calc(100% - 130px);
        overflow: auto;
        
        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, .2);
            border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: rgba(126, 93, 93, 0.7); 
        }

        .profile-image-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px;

          img {
            width: 25%;
            border-radius: 100%;
            min-width: 50px;
            max-width: 100px;
          }
        }

        .input-wrapper.update, .input-wrapper.delete {
            padding: 20px 20px 0;
            text-align: left;
            // color: $textwht;

            label {
                display: block;
                margin: 0;
                padding: 0;
                width: 100%;
                text-align: left;
                font-weight: bold;
            }
        }

        .input-wrapper.delete {
          div.delete {
            background-color: #121212;
            color: #fff;
            padding: 20px 0;
            border: 0;
            font-size: 20px;
            width: 100%;
            text-align: center;

            &:hover, &:focus {
              opacity: .5;
              transition: all .3s ease-in-out;
            }
          }

          .confirmation-message {
            padding: 40px;
            padding-bottom: 0;
            background: $background;
            color: $textdrk;
            border: 1px solid #252525;
            border-radius: 10px;
            z-index: 99999;
            position: fixed;
            top: 200%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 75%;
            transition: all .3s ease-in-out;
            
            &.showpopup {
              top: 50%;
              animation-duration: .3s;
              animation-timing-function: ease-in-out;
              animation-name: rise;
              transition: all .3s ease-in-out;
            }

            .input-wrapper {
              margin-top: 20px;
            }

            button {
              background-color: $background;
              color: $textwht;
              padding: 20px 0;
              border: 0;
              font-size: 20px;
              width: 50%;
              transition: all .3s ease-in-out;

              &:disabled {
                  opacity: .3;
                  transition: all .3s ease-in-out;
              }

              &:hover, &:focus {
                opacity: .5;
                transition: all .3s ease-in-out;
              }
            }
          }
          @keyframes rise { 
              from {
                top: 200%;
              }
              to {
                top: 50%;
              }
          }
        }

      form {
        padding: 20px 0;
        .input-wrapper {
          width: 100%;

          button {
            background-color: $background;
            color: $textwht;
            padding: 20px 0;
            border: 0;
            font-size: 20px;
            width: 100%;
            text-align: center;
            transition: all .3s ease-in-out;

            &:disabled {
              opacity: .3;
              transition: all .3s ease-in-out;
            }

            &:hover, &:focus {
              opacity: .5;
              transition: all .3s ease-in-out;
            }
          }
        }

        label {
          display: block;
          margin: 0;
          padding: 0;
          width: 100%;
          text-align: left;
          font-weight: bold;
          font-size: 15px;
        }

        input {
            width: 100%;
            margin: 10px 0;
            padding: 10px 0;
            border: 0;
            border-bottom: 1px solid #252525;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 15px;
            transition: all .3s ease-in-out;
            background: transparent;
            color: $textdrk;

            &:focus, &:active {
                border: 0;
                border-bottom: 1px solid $primary;
                outline: 0;
                transition: all .3s ease-in-out;
                font-size: 16px;
            }
            &:-internal-autofill-selected {
                box-shadow: inset 0 0 0 100px #fff;
            }
        }

        .submit-buttons {
            position: fixed;
            flex-direction: row-reverse;
            display: flex;
            justify-content: center;
            bottom: 55px;
            left: 0;
            background: $background;
            width: 100%;
            margin: 0;

            @media screen and (min-width: $end-small) {
              bottom: 54px;
            }

            .update, .delete, .logout, div.logout {
                background-color: $background;
                color: $textwht;
                padding: 20px 0;
                border: 0;
                font-size: 20px;
                width: 100%;
                text-align: center;
                transition: all .3s ease-in-out;

                &:disabled {
                  opacity: .3;
                  transition: all .3s ease-in-out;
                }

                &:hover, &:focus {
                  opacity: .5;
                  transition: all .3s ease-in-out;
                }
            }
        }
      }
    }

    .bottom {
        height: 53px !important;
    }
}

.loading-container {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 56px;
  background: rgba(0,0,0,.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  flex-direction: column-reverse;
  transition: all .3s ease-in-out;

  @media screen and (min-width: $end-small) {
    top: calc(64px + 54px);
    bottom: 54px;
  }

    div.loading-text {
        color: $textdrk;
        font-size: 20px;

        span {
            margin: 0 3px;
            display: inline-block;
            animation-duration: .7s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-name: bouncy;

            &:nth-child(2) {
                animation-delay: .2s
            }

            &:last-child {
                animation-delay: .3s;
            }
        }

        @keyframes bouncy { 
            0% {transform: translateY(0);}
            50% {transform: translateY(-5px);}
            100% {transform: translateY(0);}
        } 
    }

  img {
    width: 100%;
  }
}