@import 'variables';

html {
  height: 100%;
  width: 100%;
  background: $background;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;

    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: white;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, .2);
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(126, 93, 93, 0.7); 
    }
}
body {
  margin: 0;
  font-family: $globalFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;

  width: 100%;
  margin: auto;
  height: 100%;
}

.container {
    width: 100%;
    margin: auto;
    height: calc(100% - 53px);
    font-family: $globalFont;
    position: relative;
    top: 0px;
    
    &.bounce-up {
      animation: bounceInDown;
      animation-duration: .5s;
      animation-timing-function: ease;
    }

    @media screen and (min-width: $end-small) {
      top: 50px;
    }
}


@keyframes bounceInDown {
  0% {
     opacity: 0;
     transform: translateY(200%);
  }
  60% {
     opacity: 1;
     transform: translateY(-10px);
  }
  80% {
     transform: translateY(30px);
  }
  100% {
     transform: translateY(0);
  }
}