@import '..//..//variables';

.calendar-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;

    .calendar-navbar {
        position: fixed;
        width: 100%;
        background: red;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overscroll-behavior: none;
        height: 74px;

        &.mac {
            // top: 54px;
        }

        .controls {
            
            width: 100%;
            padding: 5px 0;
            display: flex;
            align-items: center;

            @media screen and (min-width: $end-small) {
                width: 90%;
            }

            .selector {
                display: inline;
                margin-left: 10px;
                background-color: $primary;
                border: none;
                outline: none;
                font-size: 25px;
                transition: all .2s ease;
                color: $textwht;
                font-family: $globalFont !important;
                -moz-appearance: none;
                -webkit-appearance: none; 
                appearance: none;

                &:focus {
                    color: $textdrk;
                }

                &.month-selector {
                    margin-left: 10px;

                    @media screen and (min-width: $end-small) {
                        margin-left: 0;
                    }
                }
            }

            .calendar-controls {

                display: flex;
                justify-content: flex-end;
                width: 100%;

                .btn {
                    color: $textwht;
                    background: transparent;
                    border-radius: 5px;
                    margin: 0 15px;
                    border: 0;
                    position: relative;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    outline: 0;
                    cursor: pointer;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 10px;
                        @media screen and (min-width: $end-small) {
                            margin-right: 0;
                        }
                    }

                    &:active {
                        color: $textdrk;
                    }

                    span {
                        font-size: 30px !important;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -42%);
                    }

                    &.current {
                        span {
                            padding: 2px;
                            border: 3px solid white;
                            border-radius: 5px;
                            font-size: 18px !important;
                        }
                    }


                    &:before {
                        font-size: 30px;
                    }

                    &.entypo-calendar {
                        &:before {
                            font-weight: 100;
                        }
                    }
                }

            }

        }

        .weekday-initials {

            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .day-of-week-label {

                width: 14.285714285714286%;
                max-width: 14.285714285714286%;
                text-align: center;
                position: relative;
                background: $primary;
                padding: 4px 0;
                color: $background;
                opacity: .8;
                font-size: 14px;
                font-weight: bold;

                @media screen and (max-width: $end-small) {
                    font-size: 16px;
                }

                &.show-current-weekday {
                    color: $textwht;
                    opacity: 1;
                    border-radius: 5px;
                }

            }


        }


    }


    .calendar-container {

        width: 100%;
        height: calc(100% - 133px);
        padding: 5px 0;
        position: relative;
        top: 74px;

        @media screen and (min-width: $end-small) {
            height: calc(100% - 188px);
            overflow: hidden;
        }

        .popup-background {
            display: none;
            background: rgba(0,0,0,.5);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
        }

        .row {

            width: 100%;
            height: 16.1%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1px 0;
            padding: 1px 0;
            overflow: hidden;

            .day-box {

                width: 14%;
                height: 100%;
                transition: height .3s ease !important;
                position: relative;
                border: 1px solid transparent;

                button.close-day {
                    display: none;
                }

                .next-day, .prev-day {
                    display: none;
                }

                .date-value, .excel-date {
                    display: none;
                }

                .event-count {
                    position: absolute;
                    font-size: 7px;
                    left: 5%;
                    top: 8px;
                    border-radius: 100%;
                    color: #fff;
                    background-color: red;
                    padding: 0px 1px;
                }

                .num-box {
                    display: flex;
                    width: 11.5px;
                    margin: auto;
                    padding: 3px 5px;
                    border-radius: 100%;
                    position: relative;
                    top: 3px;
                    pointer-events: none;
                    color: $textdrk;

                    @media screen and (min-width: $end-small) {
                        width: 17px;
                    }

                    .num-date {
                        cursor: pointer;
                        font-size: 10px;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                        -webkit-tap-highlight-color: transparent;
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        outline: none !important;

                        @media screen and (min-width: $end-small) {
                            font-size: 12px;
                        }
                    }

                    &.current-day {
                        color: $primary;
                        font-weight: bold;
                    }

                    &.bouncing {
                        animation: bouncing;
                        animation-duration: .75s;
                        animation-iteration-count: 4;
                        animation-timing-function: ease;
                    }

                    @keyframes bouncing {
                        0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
                        40% {transform: translateY(-5px);} 
                        60% {transform: translateY(-1px);} 
                    }
                }

                .main-info-section {
                    overflow: hidden;
                    height: calc(100% - 40px);
                    padding: 5px 10%;

                    @media screen and (min-width: $mid-small) {
                        padding: 5px;
                    }

                    &::-webkit-scrollbar {
                        width: 0px;
                    }

                    &.animate-events-one {
                        height: 0;
                    }

                    &.animate-events-two {
                        height: calc(100% - 60px);

                        @media screen and (min-width: $end-small) {
                            height: calc(100% - 65px);
                        }

                        @media screen and (max-height: 600px) {
                            height: calc(100% - 130px);
                        }
    
                        @media screen and (min-height: 800px) and (max-width: $end-small) {
                            height: calc(100% - 58px);
                        }
    
                        @media screen and (min-height: 900px) and (max-width: $end-small) {
                            height: calc(100% - 65px);
                        }

                        .event {

                            &:hover, &:focus {
                                input {
                                    display: inline;
                                    background: transparent;
                                    border: 0;
                                    position: absolute;
                                    right: 4%;
                                    top: -1px;
                                    font-size: 20px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .event {
                        font-size: 8px;
                        cursor: pointer;
                        height: 12px;
                        overflow: hidden;
                        margin: 0 0 3px;
                        padding: 2px 0 0 4%;
                        transition: all .2s ease;
                        position: relative;
                        display: none;

                        &.visible {
                            display: block;
                            border-left: 2px solid rgba(255,0,0,.8);
                            transition: all .2s ease;
                            pointer-events: none;
                            color: $textdrk;

                            &.selected-event {
                                background: rgba(255,0,0,.7);
                                border-radius: 5px;
                                transition: all .3s ease;
                            }
                        }

                        @media screen and (min-width: $mid-small) {
                            text-align: left;
                            font-size: 9px;
                            height: 13px;
                        }

                        .event-details {
                            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                            -webkit-tap-highlight-color: transparent;
                            -webkit-touch-callout: none;
                            -webkit-user-select: none;
                            -khtml-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            outline: none !important;

                            &.title {
                                margin-top: 0;

                                span {
                                    display: none;
                                }
                            }
                        }

                        button {
                            display: none;
                            background-color: $primary;
                            color: $textwht;
                            border-radius: 5px;
                            border: 0;
                            font-size: 12px;

                            &:hover {
                                color: $textwht;
                            }

                            &.edit-event {
                                background-color: rgba(0, 0, 0, .8);
                                transition: all .3s ease;
                            }

                            &.delete-event {
                                transition: all .4s ease;
                            }
                        }
                    }

                    form {
                        display: none;

                        &.closed {
                            position: fixed;
                            top: 110% !important;
                            transition: all .3s ease;

                            @media screen and (min-width: $end-small) {
                                top: 0 !important;
                                right: -110% !important;
                                transition: all .3s ease;
                            }

                            .submit-buttons {
                                bottom: -110% !important;
                                transition: all .2s ease;
                            }
                        }
                    }

                    @keyframes shrink-2{
                        from  {
                            top: default;
                        }

                        to {
                            top: 100%;
                        }
                    }
                }

                &.dead-month-color {
                    opacity: .3;
                    pointer-events: none;
                }

                &.clicked-day {
                    border: 1px solid darkgray;
                    border-radius: 5px;
                    transition: all .3s ease;
                    animation-name: shrink-1;
                    animation-duration: .3s;
                    animation-timing-function: ease;

                    .num-date {
                        font-weight: bold;
                    }
                }

                @keyframes shrink-1 {
                    25% {transform: scale(.5, .5);}
                }

                &.double-click {
                    background: $background;
                    position: absolute;
                    top: 5%;
                    bottom: 5%;
                    height: 90%;
                    width: 90%;
                    border-radius: 15px;
                    max-width: 800px;
                    z-index: 99;
                    border: 1px solid $textdrk;
                    animation-name: grow;
                    animation-duration: .3s;
                    animation-timing-function: ease;
                    box-shadow: 5px 5px 40px black;
                    overflow-y: auto;
                    overflow-x: hidden;

                    button.close-day {
                        display: inline;
                        position: absolute;
                        top: 15px;
                        right: 0%;
                        background: transparent;
                        border-radius: 5px;
                        border: 0;
                        cursor: pointer;
                        outline: none;

                        span {
                            font-size: 25px;
                            color: #fff;
                        }

                        &:active {
                            color: $primary;
                        }

                        &.mobile {
                            top: 10px;

                            span {
                                font-size: 35px;
                            }
                        }
                    }

                    .mobile-hide {
                        display: none !important;
                    }

                    .next-day, .prev-day {
                        display: block;
                        position: absolute;
                        top: 45%;
                        color: $textdrk;
                        background: transparent;
                        border-radius: 5px;
                        border: 0;
                        font-size: 20px;
                        align-items: center;
                        outline: 0;
                        //transform: translateY(-100%);
                        padding: 0;
                        z-index: 999;
                        cursor: pointer;

                        &.hide {
                            display: none;
                        }

                        @media screen and (min-width: $mid-small) {
                            display: flex;
                        }

                        @media screen and (min-width: $end-small) {
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        @media screen and (min-height: 600px) {
                            top: 50%;
                        }

                        span {
                            font-size: 35px !important;
                        }
                    }
                    .hide {
                        display: none !important;
                    }
                    .next-day {
                        right: 0;
                    }
                    .prev-day {
                        left: 0;
                    }

                    .event-count {
                        top: 20px;
                        left: 2%;
                        font-size: 9px;
                        padding: 2px 4px;
                    }

                    .num-box {
                        margin-bottom: 21px;
                        margin-top: 14px;
                        transition: all .3s ease;
                        .num-date {
                            font-size: 12px;
                        }

                        .mobile-hide-helpers {
                            &:before {
                                display: none;
                            }
                        }
                    }

                    .event-opened {
                        @media screen and (min-width: $end-small) {
                            width: 50%;
                            transition: all .3s ease;

                            -webkit-transform: translateZ(0);
                            -moz-transform: translateZ(0);
                            -ms-transform: translateZ(0);
                            -o-transform: translateZ(0);
                            transform: translateZ(0);

                            transition: all 0.3s ease;
                            -moz-transition: all .3s ease;
                            -webkit-transition: all .3s ease;
                            -o-transition: all .3s ease;
                        }
                    }

                    .main-info-section {
                        padding: 0;
                        overflow: auto;
                        touch-action: pinch-zoom !important;

                        @media screen and (min-width: $end-small) {
                            width: 50%;
                        }

                        form {
                            padding: 5px 0;
                            @media screen and (max-width: $end-small) {
                                padding-bottom: 15px;
                            }
                        }

                        .event-container {
                            width: 90%;
                            margin: auto;

                            @media screen and (min-width: $end-small) {
                                width: 100%;
                            }
                        }

                        .event {
                            font-size: 16px !important;
                            height: auto !important;
                            overflow: initial !important;
                            text-align: left;
                            margin: 5px 4%;
                            padding: 2px 4% 4px;
                            pointer-events: all;
                            color: $textdrk;

                            @media screen and (min-width: $mid-small) {
                                margin: 5px 7.5%;
                            }

                            .event-details {
                                margin: 2px 0 0 0;
                                font-size: 11px;

                                &.frequency, &.end {
                                    display: none;
                                }

                                &.location {
                                    display: none;
                                }

                                &:last-of-type {
                                    font-size: 11px;
                                    padding-bottom: 4px;
                                }

                                &.title {
                                    display: inline;
                                }

                                &.description {
                                    display: none;
                                    &:before {
                                        content: " - ";
                                    }
                                }

                                &.item-type {
                                    display: none;
                                }

                                &.title {
                                    font-weight: bold;
                                    font-size: 12px;

                                    span {
                                        display: inline;
                                        font-weight: initial;
                                        
                                        &:before {
                                            content: '- '
                                        }
                                    }
                                }
                            }
                        }

                        .update-event-form {

                            &.show-update-form {
                                display: block;
                                position: absolute;
                                top: 0;
                                width: 100%;
                                bottom: 0;
                                border-radius: 15px;
                                overflow: auto;
                                background: $background;
                                padding: 0;
                                animation-name: grow-2;
                                animation-duration: .2s;
                                animation-timing-function: ease;
                                overscroll-behavior: none;

                                transition: all 0.3s ease;
                                -moz-transition: all .3s ease;
                                -webkit-transition: all .3s ease;
                                -o-transition: all .3s ease;

                                @media screen and (min-width: $end-small) {
                                    top: 0px;
                                    right: 0;
                                    border-radius: 0 5px 5px 0;
                                    height: calc(99% - 0px);
                                    width: 50%;
                                    animation-name: slide-left;
                                    animation-duration: .2s;
                                    animation-timing-function: ease;
                                }

                                .form-nav-bar {
                                    position: sticky;
                                    top: -1px;
                                    background: $background;
                                    h2 {
                                        padding: 13px 4%;
                                        margin: 0 0 15px;

                                        input {
                                            color: #fff;
                                            font-size: 25px;
                                            background: $background;
                                            border: 0;
                                            outline: 0;
                                            font-family: "Noto Sans", sans-serif;
                                            width: calc(100% - 40px);
                                        }

                                    }

                                    .mobile-hide-helpers {
                                        &:before {
                                            display: none;
                                        }
                                    }

                                    .close-form {
                                        position: absolute;
                                        display: inline;
                                        top: 17px;
                                        right: 1%;
                                        background: transparent;
                                        border-radius: 5px;
                                        border: 0;
                                        cursor: pointer;
                                        color: $textwht;

                                        &:before {
                                            font-size: 20px;
                                            height: 30px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                        }

                                        &:active {
                                            color: $textdrk;
                                        }

                                        &.mobile {
                                            top: 10px;
                
                                            span {
                                                font-size: 35px;
                                            }
                                        }
                                    }
                                }

                                .input-wrapper {
                                    margin: 0 4%;

                                    @media screen and (min-width: $end-small) {
                                        margin: 0 6%;
                                    }

                                    &.invisible {
                                        visibility: hidden;
                                        height: 0;
                                        width: 0;
                                    }
                                }

                                label {
                                    display: block;
                                    margin: 0;
                                    padding: 0;
                                    width: 100%;
                                    font-weight: bold;
                                    font-size: 15px;
                                    color: $textdrk;
                                }

                                select, .date-input-update input, .date-input-end-update input, .time-input-end-update input, .item-title-update input , .event-description-update textarea, .amount-input-update input, .location-input-update input, .time-input-update input {
                                    width: 100%;
                                    padding: 10px 0;
                                    border: 0;
                                    border-bottom: 1px solid #252525;
                                    margin: 10px 0;
                                    -webkit-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    font-size: 15px;
                                    transition: all .3s ease;
                                    background: $background;
                                    color: $textdrk;

                                    &:focus, &:active {
                                        border: 0;
                                        border-bottom: 1px solid $primary;
                                        outline: 0;
                                        transition: all .3s ease;
                                        font-size: 16px;
                                    }
                                    &:-internal-autofill-selected {
                                        box-shadow: inset 0 0 0 100px transparent;
                                    }
                                }

                                .time-all-day {
                                    &::after {
                                        display: block;
                                        content: "";
                                        clear: both;
                                    }
                                    input {
                                        float: right;
                                        width: auto;
                                    }
                                    label {
                                        width: auto;
                                        float: right;
                                    }
                                }

                                textarea {
                                    height: 75px;
                                }

                                .submit-buttons {
                                    position: sticky;
                                    flex-direction: row-reverse;
                                    display: flex;
                                    justify-content: center;
                                    bottom: 0;
                                    background: $background;
                                    width: 100%;
                                    margin: 0;

                                    .submit-form, .delete-event {
                                        background-color: $background;
                                        color: $textwht;
                                        padding: 20px 0;
                                        border: 0;
                                        font-size: 20px;
                                        width: 50%;
                                        transition: all .3s ease;

                                        &:disabled {
                                            opacity: .3;
                                            transition: all .3s ease;
                                        }

                                        &:hover, &:focus {
                                            opacity: .5;
                                            transition: all .3s ease;
                                        }
                                    }
                                }

                                &::-webkit-scrollbar {
                                    width: 2px;
                                }
                                &::-webkit-scrollbar-track {
                                    background: transparent;
                                }
                                &::-webkit-scrollbar-thumb {
                                    background: rgba(0, 0, 0, .2);
                                    border-radius: 50px;
                                }
                                &::-webkit-scrollbar-thumb:hover {
                                    background: rgba(126, 93, 93, 0.7); 
                                }
                            }

                            @keyframes grow-2 {
                                0%   { top: 100% }
                                30%  { top: 0 }
                                70%  { top: 10px }
                                100% { top: 0 }
                            }

                            @keyframes slide-left {
                                0%   { right: -100% }
                                30%  { right: 0 }
                                70%  { right: 10px }
                                100% { right: 0 }
                            }
                        }
                    }

                    .normal-scrolling {
                        touch-action: pan-y !important;
                        overscroll-behavior: none;
                    }
                }

                &.swipe-right {
                    transition: none !important;
                    animation-name: swipeRightBounce;
                    animation-duration: .3s;
                    animation-timing-function: ease;

                    @media screen and (min-width: $end-small) {
                        animation-name: swipeRight;
                        animation-timing-function: ease-in-out;
                    }
                }

                &.swipe-left {
                    transition: none !important;
                    animation-name: swipeLeftBounce;
                    animation-duration: .3s;
                    animation-timing-function: ease;

                    @media screen and (min-width: $end-small) {
                        animation-name: swipeLeft;
                        animation-timing-function: ease-in-out;
                    }
                }

                &.bounce-right {
                    animation-name: bounceRight;
                    animation-duration: .3s;
                    animation-timing-function: ease;
                }

                &.bounce-left {
                    animation-name: bounceLeft;
                    animation-duration: .3s;
                    animation-timing-function: ease;
                }

                @keyframes swipeRightBounce {
                    0%   { left: -100% }
                    70%  { left: 0 }
                    85%  { left: 10px }
                    100% { left: 0 }
                }

                @keyframes swipeLeftBounce {
                    0%   { right: -100% }
                    70%  { right: 0 }
                    85%  { right: 10px }
                    100% { right: 0 }
                }

                @keyframes swipeRight {
                    0%   { left: -100% }
                    100% { left: 0 }
                }

                @keyframes swipeLeft {
                    0%   { right: -100% }
                    100% { right: 0 }
                }

                @keyframes bounceRight {
                    0% {
                        left: 0;
                    }

                    50% {
                        left: 15%;
                    }

                    100% {
                        left: 0;
                    }
                }
                
                @keyframes bounceLeft {
                    0% {
                        right: 0;
                    }

                    50% {
                        right: 15%;
                    }

                    100% {
                        right: 0;
                    }
                }

                @keyframes grow {
                    from {
                        transform: scale(.5, .5);
                    }

                    to {
                        transform: scale(1, 1);
                    }
                }

            }


        }

        .bottom-of-cal-fix {
            height: 53px;
        }


    }

    .cal-swipe-right {
        animation-name: calSwipeRight;
        animation-duration: .3s;
        animation-timing-function: ease;
    }
    .cal-swipe-left {
        animation-name: calSwipeLeft;
        animation-duration: .3s;
        animation-timing-function: ease;
    }

    @keyframes calSwipeLeft {
        0%   { left: -100% }
        100% { left: 0 }
    }
    @keyframes calSwipeRight {
        0%   { right: -100% }
        100% { right: 0 }
    }

    .add-item-button {
        padding: 15px;
        position: absolute;
        bottom: 10px;
        font-size: 20px;
        border-radius: 100%;
        border: none;
        background-color: $alert;
        color: $textwht;
        right: 10px;
        z-index: 9999;
        transition: all .3s ease;
        display: flex;
        box-shadow: 2px 5px 15px black;
        cursor: pointer;

        @media screen and (max-width: $end-small) {
            &.moved {
                display: flex;
                bottom: 6%;
                right: 7%;
            }
        }

        &:active {
            color: $textdrk;
        }

        @media screen and (min-width: $end-small) {
            right: 50%;
            transform: translateX(50%);
            &.moved {
                bottom: 7%;
            }
        }
    }


    .add-item-container {
        position: absolute;
        bottom: 17px;
        right: 17px;
        height: 40px;
        width: 40px;
        z-index: 99;
        border-radius: 100%;
        color: transparent;
        overflow: hidden;
        transition: all 0.2s ease;

        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, .2);
            border-radius: 50px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: rgba(126, 93, 93, 0.7); 
        }

        @media screen and (max-width: $end-small) {
            &.moved {
                bottom: 7.5%;
                right: 9.5%;
            }
        }

        @media screen and (min-width: $end-small) {
            right: 50% !important;
            transform: translateX(50%);
            overflow: hidden;
            border-radius: 100%;
            max-width: 800px;
            &.moved {
                bottom: 8.5%;
            }
        }

        &.show-form {
            height: 90%;
            width: 90%;
            background: #121212;
            right: 4.7%;
            bottom: 4.7%;
            z-index: 99999;
            border-radius: 15px;
            border: 1px solid $textdrk;
            color: #fff;
            overflow-y: auto;

            transition: all 0.2s ease;
            -moz-transition: all .2s ease;
            -webkit-transition: all .2s ease;
            -o-transition: all .2s ease;

            @media screen and (min-width: $end-small) {
                bottom: 50%;
                right: 50%;
                transform: translate(50%, 50%);
                width: 100%;
                max-width: 800px;
                animation: none;
                box-shadow: 5px 5px 40px black;
            }
        }

        .normal-scrolling {
            touch-action: pan-y !important;
            overscroll-behavior: none;
        }

        .form-nav-bar {
            position: sticky;
            top: -1px;
            background: $background;
            h2 {
                padding: 13px 4%;
                margin: 0 0 15px;
                
                input {
                    color: #fff;
                    font-size: 25px;
                    background: $background;
                    border: 0;
                    outline: 0;
                    font-family: "Noto Sans", sans-serif;
                    width: calc(100% - 40px);
                }
            }

            .mobile-hide-helpers {
                &:before {
                    display: none;
                }
            }

            .close-form {
                position: absolute;
                display: inline;
                top: 17px;
                right: 1%;
                background: transparent;
                border-radius: 5px;
                border: 0;
                cursor: pointer;
                color: $textwht;

                &:before {
                    font-size: 20px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:active {
                    color: $textdrk;
                }

                &.mobile {
                    top: 10px;

                    span {
                        font-size: 35px;
                    }
                }
            }
        }

        .animate-events-one {
            display: none;
            &.form-nav-bar {
                display: block;
                
                @media screen and (min-width: $end-small) {
                    width: 100%;
                }
            }
        }

        .animate-events-two {
            display: block;

            @media screen and (min-width: $end-small) {
                display: flex;
                flex-wrap: wrap;
            }
        }

        .input-wrapper {
            margin: 0 4%;

            @media screen and (min-width: $end-small) {
                width: 42%;
            }

            &.invisible {
                visibility: hidden;
                height: 0;
                width: 0;
                display: none;
            }
        }

        label {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            font-weight: bold;
            font-size: 15px;
            color: $textdrk;
        }

        select, .date-input input, .date-input-end input, .time-input-end input, .item-title input , .event-description textarea, .amount-input input, .location-input input, .time-input input {
            width: 100%;
            padding: 10px 0;
            border: 0;
            border-bottom: 1px solid #252525;
            margin: 10px 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 15px;
            transition: all .3s ease;
            background: $background;
            color: $textdrk;

            &:focus, &:active {
                border: 0;
                border-bottom: 1px solid $primary;
                outline: 0;
                transition: all .3s ease;
                font-size: 16px;
            }
            &:-internal-autofill-selected {
                box-shadow: inset 0 0 0 100px transparent;
            }
        }

        .input-wrapper {
            &.time-all-day {
                display: block;
                align-items: center;
                width: 100%;
                float: right;

                &::after {
                    display: block;
                    content: "";
                    clear: both;
                }
                input {
                    float: right;
                    width: auto;
                    margin-right: 5px;
                }
                label {
                    width: auto;
                    float: right;
                }
            }
        }

        textarea {
            height: 75px;
        }

        .submit-buttons {
            position: sticky;
            justify-content: center;
            bottom: -1px;
            background: $background;
            width: 100%;
            margin: 0;

            .submit-form {
                background-color: $background;
                color: $textwht;
                padding: 20px 0;
                border: 0;
                font-size: 20px;
                width: 100%;
                opacity: 1;
                transition: all .3s ease;

                &:disabled {
                    opacity: .3;
                    transition: all .3s ease;
                }

                &:hover, &:focus {
                    opacity: .5;
                    transition: all .3s ease;
                }
            }
        }
    }
}

.loading-container {
  position: fixed;
  top: 74px;
  left: 0;
  right: 0;
  bottom: 56px;
  background: rgba(0,0,0,.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  flex-direction: column-reverse;
  transition: all .3s ease;

  &.show {
      display: flex;

      touch-action: none;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  @media screen and (min-width: $end-small) {
    top: calc(74px + 54px);
    bottom: 54px;
  }

    div.loading-text {
        color: $textdrk;
        font-size: 20px;

        span {
            margin: 0 3px;
            display: inline-block;
            animation-duration: .7s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-name: bouncy;

            &:nth-child(2) {
                animation-delay: .2s
            }

            &:last-child {
                animation-delay: .3s;
            }
        }

        @keyframes bouncy { 
            0% {transform: translateY(0);}
            50% {transform: translateY(-5px);}
            100% {transform: translateY(0);}
        } 
    }

  img {
    width: 100%;
  }
}