
<div class="home-container" (swipedown)="onSwipeDown($event)" (swipeup)="onSwipeUp($event)">
    <div class="intro">
        <img src="./assets/icons/icon-144x144.png" alt="" />
        
        <h1>My Calendar App</h1>
    </div>

    <div class="home-buttons">
        <a href="#" routerLink="/login"><span class="material-icons">login</span>Login</a>
        <span>or</span>
        <a href="#" routerLink="/signup"><span class="material-icons">create</span>Signup</a>

        <button class="scroll-button" (click)="scrolltoVideo()">Demo below</button>
    </div>

    <video class="video" src="./assets/videos/Testing_App02.mp4" loop muted controls></video>
</div>