@import '..//..//variables';

.home-container {
    height: calc(100%);
    // position: relative;
    // overflow: hidden;
    // width: 100%;
    // // height: 100vh;
    // // background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;

    .intro {
        height: 100%;
    }

    video {
        min-width: 100%;
        height: 100%;
        z-index: 1;
        background: #000;
        margin-bottom: 54px;

        @media screen and (min-width: $end-small) {
            display: none;
        }
    }

    img {
        display: block;
        margin: auto;
        // max-width: 65px;
    }
    h1 {
        color: $textdrk;
        text-align: center;
    }

    .home-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 15%;
        z-index: 999;
        opacity: 1;
        transition: opacity .3s ease-in-out;

        &.hide {
            opacity: 0;
            z-index: 0;
            transition: all .3s ease-in-out;
        }

        a, span {
            color: $textdrk;
        }

        a {
            margin: 10px 0;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            text-decoration: none;
            background: red;
            border-radius: 10px;

            span {
                margin-right: 10px;
            }
        }

        .scroll-button {
            position: relative;
            background: transparent;
            color: $textdrk;
            border: none;
            font-size: 14px;
            margin: 10px;
            outline: none;
            display: inline;
            animation-name: bounce-3;
            animation-timing-function: ease-in-out;
            animation-duration: 1s;
            animation-iteration-count: infinite;

            @media screen and (min-width: $end-small) {
                display: none;
            }

            &:after {
                content: '▾';
                position: absolute;
                font-size: 18px;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        @keyframes bounce-3 {
            0%   { transform: translate(-50%, 0); }
            50%  { transform: translate(-50%, 2px); }
            100% { transform: translate(-50%, 0); }
        }
    }
}